$accent: var(--accent_color);
$oAccent: var(--accent-opacity_color);
$main: var(--main_color);
$primary: var(--primary_color);
$secondary: var(--secondary_color);
$divider: var(--divider_color);

$correct: rgba(0, 255, 0, 0.5);
$wrong: rgba(255, 0, 0, 0.5);

$base: 0.5em;
$tr: 0.3s ease-out;
